/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#userInputForm {
    width: 50%;
    margin-left: 33%;
}

input[type="text"] {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

input[type="number"] {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.input-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px; /* Espaço entre os inputs */
    width: 300px;
    margin-bottom: 15px;
}

.form-group {
    margin-right: 50px;
    margin-bottom: 50 px;
}